@page "/BlazorTest"
@rendermode InteractiveServer

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div class="row mt-4">
    <div class="col-md-4 mt-4">
        <input id="input1" class="form-control" @bind="input1" placeholder="Write something" />
    </div>
    <div class="col-md-2 mt-4">
        <button class="btn btn-primary w-100" @onclick="Save">Save</button>
    </div>
    <div class="col-md-6 mt-4 align-content-end">
        <label class="form-label">@stringInput</label>
    </div>
</div>

@code {
    private string input1;
    int currentCount = 0;
    string stringInput = "";

    void IncrementCount()
    {
        currentCount++;
    }
    void Save()
    {
        stringInput = input1;
    }
}